<div id="titleWrapper" (click)="killTitle()" #titleWrapper>
<h1>
    <span class="TL" id="T1" #T1>C</span>
    <span class="TL" id="T2" #T2>o</span>
    <span class="TL" id="T3" #T3>l</span>
    <span class="TL" id="T4" #T4>o</span>
    <span class="TL" id="T5" #T5>r</span>
    <span>{{' '}}</span> 
    <span class="TL" id="T6" #T6>&</span>
    <span>{{' '}}</span>
    <span class="TL" id="T7" #T7>S</span>
    <span class="TL" id="T8" #T8>h</span>
    <span class="TL" id="T9" #T9>a</span>
    <span class="TL" id="T10" #T10>p</span>
    <span class="TL" id="T11" #T11>e</span>
</h1>
<h6>Click Anywhere to Start</h6>
</div>
